footer{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 5rem ;
    height: 366px;
    background-image: url("https://res.cloudinary.com/dpidlverd/image/upload/v1674490652/replica/DSNEWBG00001_txdnyp.jpg");
}
footer img {
    height: 24px;
    width: 24px;
    filter: brightness(400%);
}

footer h3{
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    font-weight: 100;
}

footer p{
    font-size: 13.6px;
    letter-spacing: 2.8px;
    font-weight: 200;
}

footer ul{
    display: flex;
    gap: 1rem;
}

footer >.search{
    width: 280px;

}

footer > .form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 454px ;
}

footer > .form > div{
    display: flex;
    align-items: center;
}

footer >.form label {
    transform: scale(3);
    padding-left: 1rem;
    position: relative;
    bottom: 4px;
}

footer > .form > input{
    width: 300px;
}

