.gallery{
    display: grid;
    grid-template-columns: repeat(4, 340px);
    grid-template-rows: repeat(2,420px);
    width: 100%;
    margin:0 auto;
    padding-left: 2rem;
}
.gallery > figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
figure > img {
    height: 80%;
}
figure > h3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-transform:uppercase;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 2.8px;
}

figure > h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    font-size: 13.6px;
    font-weight: 100;
    letter-spacing: 2.8px;
    color: var(--price);
}
